{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Add New Egg Seller | Ethiopian Sheger Market place" %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'poultryitems/css/add_egg_sellers.css' %}">
{% endblock %}

{% block content %}

<div class="page-wrapper">

    <h1 class="page-title">
        <i class="fas fa-plus-circle"></i> Add New Egg Seller
    </h1>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="form-container">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-grid">

                <div class="form-section">
                    <h3>Farm Information</h3>

                    <label>Farm Name</label>
                    {{ form.farm_name }}
                    {{ form.farm_name.errors }}

                    <label>Owner Name</label>
                    {{ form.owner_name }}
                    {{ form.owner_name.errors }}

                    <label>Description</label>
                    {{ form.description }}
                    {{ form.description.errors }}

                </div>


                <div class="form-section">
                    <h3>Location</h3>

                    <label>City</label>
                    {{ form.city }}
                    {{ form.city.errors }}

                    <label>State / Province</label>
                    {{ form.state }}
                    {{ form.state.errors }}

                    <label>Country</label>
                    {{ form.country }}
                    {{ form.country.errors }}

                    <label>Address</label>
                    {{ form.address }}
                    {{ form.address.errors }}

                </div>


                <div class="form-section">
                    <h3>Egg Details</h3>

                    <label>Egg Type</label>
                    {{ form.egg_type }}
                    {{ form.egg_type.errors }}

                    <label>Certification</label>
                    {{ form.certification }}
                    {{ form.certification.errors }}

                </div>


                <div class="form-section">
                    <h3>Pricing & Availability</h3>

                    <label>Quantity Available</label>
                    {{ form.quantity_available }}
                    {{ form.quantity_available.errors }}

                    <label>Price per Dozen ($)</label>
                    {{ form.price_per_dozen }}
                    {{ form.price_per_dozen.errors }}

                    <label>Minimum Order Quantity</label>
                    {{ form.min_order_quantity }}
                    {{ form.min_order_quantity.errors }}

                </div>


                <div class="form-section">
                    <h3>Contact Information</h3>

                    <label>Phone</label>
                    {{ form.phone }}
                    {{ form.phone.errors }}

                    <label>Email</label>
                    {{ form.email }}
                    {{ form.email.errors }}

                    <label>Website</label>
                    {{ form.website }}
                    {{ form.website.errors }}

                </div>


                <div class="form-section">
                    <h3>Social Media</h3>

                    <label>Facebook</label>
                    {{ form.facebook }}
                    {{ form.facebook.errors }}

                    <label>Telegram</label>
                    {{ form.telegram }}
                    {{ form.telegram.errors }}

                    <label>Instagram</label>
                    {{ form.instagram }}
                    {{ form.instagram.errors }}

                </div>

            </div>

            <div class="form-buttons">
                <a href="{% url 'poultryitems:egg_sellers' %}" class="btn secondary">
                    Back to Sellers
                </a>

                <button type="submit" class="btn primary">
                    Add Egg Seller
                </button>
            </div>

        </form>

    </div>

</div>

{% endblock %}