{% extends "base/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans " Fraol Lemma | Ethiopian Sheger Market place" %}
{% endblock %}

{% block content %}
My name is fraol lemma. 
I have an agricultural website called Ethiopian Poultry And Dairy Farm Market place. I am passionate about agriculture and technology, and I am dedicated to providing valuable resources and information to farmers and agricultural enthusiasts in Ethiopia.
I live in Gelan, Sheger City, Ethiopia. 
I am a software developer with a passion for creating innovative solutions to complex problems. I have experience in various programming languages and frameworks, and I enjoy working on projects that make a positive impact on people's lives. 
I have a knowledge of poultry farming and dairy farming, and I am interested in using technology to improve the efficiency and sustainability of these industries.
{% endblock %}