{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {% trans "Dairy | Ethiopian Poultry And Dairy Farm Market place" %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'dairyfarm/css/dairyfarm_list.css' %}">
{% endblock %}

{% block content %}
<!-- Html for This web page is now under construction. We are working hard to bring you the best experience possible. Please check back soon for updates!  -->
<div class="under-construction">
    <h1>Under Construction</h1>
    <p>We are working hard to bring you the best experience possible. Please check back soon for updates!</p>
</div>
{% endblock %}